// Google Fonts Start Here //
@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Dosis:300");
// END OF GOOGLE FONTS //

$border-color: #D2D2D2;
$navBtn-color: #3498db;
$button-color: #ed8d30;
$bg-color: #d2d2d2;
$lato: 'Lato', sans-serif;
$dosis: 'Dosis', sans-serif;

 
.btn-lg{
    padding: 5px 16px;
    font-weight: bold;
    font-family: $dosis;
}
.btn{

    background: transparent;
    color: #F2F2F2;

    /* CSS Transition */
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;

}

#sub_headline{
    font-family: $dosis;
    font-size: 60px;
    margin-top: 20px;
}
#headline{
    font-family: $dosis;
    font-size: 100px;

}
#learnMore{
    width: 150px;
    margin-left: 75px;
    margin-top: 25px;
    height: 40px;
    
}

#waga_brand{
    float: left;
    position: absolute;
    left: 25px;
    top: 5px;
}
h1{
    font-family:$lato;
}
.navbar{
    height: 55px;
    background-color: white;
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar-brand{
    font-family: $lato;
    font-weight: bold;
    font-size: 38px;
}
#createAccount{
    width: 150px;
    margin-left: 75px;
    margin-top: 25px;
    height: 40px;
    opacity: 1.0;
}
#logIn{
    width: 150px;
    margin-left: 75px;
    margin-top: 25px;
    height: 40px;
}
#title1{
    text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}


.navbar-nav{
    li{
        a{
            padding-top: 18px;
        }
    }
}

#navBtn{
    color: $navBtn-color;
    font-weight: bold;
}

#navLinks{
    font-family: $lato;
    color: #3498db;
    font-size: 15px;
}

.navDisc{
    font-family: $lato;
    font-size: 15px;
    position: relative;
    bottom: -4px;
}
    
.myForm{
    margin-left: auto;
    margin-right: auto;
    
    width:300px;
    height:450px;
    border: 1px solid $border-color;
    

    border-radius: 6px;

    .tutorRegisterInput{
     width: 220px;
     height: 100px;   

    }


    .registerInput{
        width: 220px;
        height: 40px;
        margin-left: 40px;
        
        font-size: 18px;
        margin-top: 15px;
    }
    .authInput{
        width: 220px;
        height: 40px;
        margin-left: 40px;
        
        font-size: 18px;
        margin-top: 15px;
        
    }
}

/* Mandy's section */


.title_header{
    .jumbotron{
        // background-image: url(https://s-media-cache-ak0.pinimg.com/originals/79/26/0d/79260d265ed92ec1908d7ed6df3cd614.jpg);
    }
    .text-center{
    font-size: 50px;
    font-weight: bold;
    font-family:$lato;
    color: black;
}
}

.tutor_container{
    .container{
        padding: 30px;//@jumbotron-padding (@jumbotron-padding / 2);
        margin-bottom: 10px;
        color: white;
        background-color: $bg-color;
        width: 800px;
        a{
            color: #6353a1;
            font-family:$lato;
            font-size: 30px;
        }
    }
}

.right_side{
    padding-left: 50px;
    position: relative;
    float: right;
    width: 70%;
    bottom: 80px;
    h2{
    font-family: $lato;
    font-weight: bold;
    font-size: 38px;
    color: #6353a1;
    padding-top:107px;
    }
    h3{
    font-family: $lato;
    font-weight: bold;
    font-size: 25px;
    color: #6353a1;
    }
}

.left_side{
display: block;
float: left;
    #tutor_pic img{
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        border-radius: 300px;
        height: 50px;
        width: 50px;
    }
}

h1{
    font-family:$lato;
}


.tutor_box
{
  height: 100px;
  width: 100px;
  border: 1px solid $border-color;
}
body{
    padding:0;
    margin:0;
    min-height: 100%;
}

.wrapper{
    margin-bottom: 20px;
}

.footer{
  padding-left: 200px;
  background-color: $bg-color;
  height: 300px;
  clear:both;
  padding-top:20px;
  .footer_text{
    font-family: $lato;
    font-size: 15px;
  }
  .footer_head {
    font-family: $lato;
    font-style: bold;
    font-size: 20px;
  }
}

/*.footer{
  background-color: $bg-color;
  height: 200px;
  clear:both;
  padding-top:20px;
  .footer_text{
    font-family:$lato;
    font-size: 15px;
  }
  .footer_head{
    font-family:$lato;
    font-style: bold;
    font-size: 20px;
  }
}*/

/* End Mandy's section */


.jumbotron{

    margin-top: -20px;
}
/* Michelle's section */
.profile_container {
    .jumbotron {
        .profile_container_left {
            float: left;
            width: 48%;
            text-align: center;
        }
        .profile_container_right {
            float: right;
            width: 48%;
        }
        #profile_pic img {
            -webkit-border-radius: 300px;
            -moz-border-radius: 300px;
            border-radius: 300px;
            height: 350px;
            width: 350px;
        }
        .become_tutor_button {
            margin-top: 20px;
            text-align: center;
        }
        .btn {
            background: $button-color;
            color: white;
        }
    }
}

.formContainer{
    padding-top: 50px;
    background: $bg-color;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

#loginFormContainer{
background-image: url(https://unsplash.imgix.net/1/bag-and-hands.jpg?q=75&fm=jpg&s=473273aff6797b4bbf930092359a9564);
margin-top: -20px;
}

#registerFormContainer{
background-image: url(https://ununsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?q=75&fm=jpg&s=11f3120e69059e1d6ce7f32c6dd6c651);
margin-top: -20px;

}
.myForm {
    background: $bg-color;
    opacity: .9;
    filter:alpha(opacity=70);
    min-height: 500px;
    /*background-image: url(https://s-media-cache-ak0.pinimg.com/originals/79/26/0d/79260d265ed92ec1908d7ed6df3cd614.jpg);*/
    .btn {
        background:  $button-color;
        border-color: $bg-color;
        color: $bg-color;
        opacity: 1.0;
        filter:alpha(opacity=100);
    }
    #login_header {
        text-align: center;
    }
}

#loginForm {
    form {
        margin-top: 40px;
        opacity: 1;
    }
}

.home_container {
   color: white;
   text-align: center;
   h1 {
    font-size: 60px;
   }
   h2 {
    font-size: 40px;
   }
   h4 {
    font-size: 25px;
   }
   .btn {
    margin-top: 20px;
    width: 200px;
    height: 35px;
   }
}

/*Mandy NEWER*/

.about_container{
    .little_wrap{
        background-color:$bg-color;
        padding-bottom:35px;
    }
    .title_text{
        text-align: center;
        font-size: 100px;
        font-family: $lato;
        font-style: bold;
    }
    #team_pic{
        text-align: center;
        img{
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        border-radius: 300px;}
    }
    .team_container{
        display: block;
        text-align: center;
        padding-top:15px;
        padding-bottom:15px;
        img{
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        border-radius: 500px;
        height: 300px;
        width:auto;
        padding-bottom:15px;
        }
        .about_text{
            margin-right:25px;
            font-family: $lato;
            font-size: 20px;
            font-style: bold;
        }

        }
    }




/*Mandy NEWER END*/

/* End Michelle's section */