{% extends 'base.html' %}
{% block navbar%}
    {% if user.is_authenticated %}
        {% include 'navbar-logged-in.html'%}
    {% else %}
        {%include 'navbar.html'%}
    {%endif%}
{% endblock %}


{% block content %}
<div class="about_co">
	<div id="bee_container">
	<p class="big_text"><span class="co">Beewaga</span> is changing <br>
    the rules<br>
    of education</p>
	</div>
	<div class="all_about">
	<p class="ab_text_title">Three things to know about Beewaga</p>
	<p class="ab_text">1. Beewaga is a community where passionate tutors connect with eager learners. </p>
	<p class="ab_text_min">Beewaga creates a platform where teachers passionate enough to create content to aid learners, can be connected with and rewarded by the students digesting their material.  We want believe that online learning is the future.  It's accessible and it's already there.  We want this learning platform to explode, so we're making it easy to fund tutors and support learners.</p>
	<p class="ab_text">2. We incentivize teaching with user contributions.</p>
	<p class="ab_text_min">Tutors can create profiles asking users to support the content that they're already creating with either a one-time or reapeating donation.  Beyond that, in the spirit of Crowdfunding, tutors can ask users to join together and fund projects like live-stream Q and A sessions, special content requests, and whatever else they dream up. </p>
	<p class="ab_text">3. Students optimize learning, by funding the content they want to see.  </p>
	<p class="ab_text_min">Students can pay tutors to generate the content they need to keep on growing.  We want to tear down the digital divide, and all students to communicate their needs to online tutors in a way that will allow their needs to be met.  The aim is to make online learning the most helpful it can be.</p>
	</div>
</div>
{%endblock%}