<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}navbar-static-top.css">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css"> 

    
    <meta charset="UTF-8">
    <title>BeeWaga</title>
</head>
<body>
    <header>
        <div class="wrapper">
            {% block navbar %}                               
            
            {% endblock %}
        </div>
    </header> 
        <div id="content">
            <div class="wrapper">
                {% block flash %}   
                {% endblock %}



                {% block content %}
                
                {% endblock %}
            </div>
        </div>

<!-- BIG VIDEO DEPENDENCIES -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 

<script src="{{STATIC_URL}}js/bower_components/jquery-ui/jquery-ui.min.js"></script>

<script src="{{STATIC_URL}}js/bower_components/imagesloaded/imagesloaded.js"></script>

<script src="{{STATIC_URL}}js/bower_components/video.js/dist/video-js/video.js"></script>

<!-- BIG VIDEO -->
<script src="{{STATIC_URL}}js/bower_components/BigVideo.js/lib/bigvideo.js"></script>



                {% block bigvid %}

                {% endblock %}





<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>
<!--<footer class="footer">
    <div class="col-md-2">
        <h2>About Us</h2>
        <h3><a href ="/about_beewaga/">What is BeeWaga?</a></h3>
        <h3><a href="/about_team/">Who are we?</a></h3>
        <h3>Why BeeWaga?</h3>
    </div>
    <div class="col-md-2 col-md-push-2">
        <h2>Discover</h2>
        <h3><a href= "/tutors/">Explore Tutors</a></h3>
        <h3>Explore Courses</h3>
        <h3>Join a Study Hive</h3>
    </div>
     <div class="col-md-2 col-md-push-4">
        <h2>Join the Hive</h2>
        <h3><a href="/register/">Become a Tutor</h3>
        <h3><a href="/register/">Become a Learner</h3>
    </div>
</footer>-->
{% block footer %}
    {%include "footer.html"%}
{%endblock%}