{% extends "base.html" %}

{% block navbar%}
    {% include 'navbar-logged-in.html'%}
{% endblock%}

<!-- Copies 'home.html' stuff here -->
{% block content %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
    
    {% block bigvid%}
    {% endblock %}
    <h1 class="text-center">Welcome {{username}}!</h1>

    <div class="profile_container">
	    <div class="jumbotron">
	    	<div class="profile_container_left">
		    	<div id="profile_pic">
	    		    <img src="https://cloud.githubusercontent.com/assets/10763244/6557509/ee673dce-c64b-11e4-87e3-b219a5db5f7a.jpeg" > <!-- PUT USER PICTURE HERE -->
	    		</div>
		    	<div class="become_tutor_button">
			    	<a class="btn btn-default" href="/tutor-signup">Become a tutor!</a>
			    </div>
			</div>
	    	<div class="profile_container_right">
	    		<div class="lessons_learning">

                    {%if count == 0%}
                    <h2>You follow {{count}} tutors</h2>   
                    
                    {%elif count > 0%}
	    			<h2>You support:</h2>
                    
	    			{%for tutor in tutors%}
                        {{tutor.username}}    
                    {%endfor%}
                    {%endif%}
                    
	    		</div>
	    	</div>
	    </div>
    </div>
{% endblock %}