{% extends "base.html" %}

{% block navbar%}
    {% include 'navbar-logged-in.html'%}
{% endblock%}

<!-- Copies 'home.html' stuff here -->
{% block content %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
    
    {% block bigvid%}
    {% endblock %}
    <div class="user_prof">
	    <!-- <h1 class="prof_title">Welcome {{username}}!
	    </h1> -->
		<div id="profile_container">
			<div id="inner_tainer">
				<div class="prof_text">
					<p class= "my_name">{{username}}: 
					</p>
					<p class="supporting">Currently supporting: <br>Some Real Dece Tutors
					</p>
					<div class="button_wrap">
						<a class="btn btn-default" href="/tutor-signup">Become a tutor!</a>
					</div>
				</div>
				<div id="user_pic">
					<img src="http://i57.tinypic.com/5dmcg7.jpg">
				</div>

			</div>
		</div>

	    
    </div>
{% endblock %}