<footer class="footer">
    <div class="col-md-2">
        <p class="footer_head">About Us</p>
        <p class="footer_text"><a href ="/about_beewaga/">What is BeeWaga?</a></p>
        <p class="footer_text"><a href="/about_team/">Who are we?</a></p>
        <p class="footer_text"> Why BeeWaga?</p>
    </div>
    <div class="col-md-2 col-md-push-2">
        <p class= "footer_head">Discover</p>
        <p class= "footer_text"><a href= "/tutors/">Explore Tutors</a></p>
        <p class= "footer_text">Explore Courses</p>
        <p class= "footer_text">Join a Study Hive</p>
    </div>
     <div class="col-md-2 col-md-push-4">
        <p class="footer_head">Join the Hive</p>
        <p class="footer_text"><a href="/register/">Become a Tutor</p>
        <p class="footer_text"><a href="/register/">Become a Learner</p>
    </div>
</footer>