{% extends 'base.html' %}

{% block navbar %}

    {% include 'navbar.html' %}
    
{% endblock %}

{% block content %}

    <div class="home_container">
        <div class="col-md-12 text-center" id="bigvid" >
            {%block bigvid%}
            <script type="text/javascript">
            var BV;
            $(function() {
            // initialize BigVideo
            BV = new $.BigVideo();
            BV.init();
            BV.show('http://mazwai.com/system/posts/videos/000/000/043/original/phil_fried--electric_bulb.mp4?1402703176',{ambient:true});
            });
            </script>
            {%endblock%}
            <h1 id="headline">Beewaga</h1>
            <h2 id="sub_headline">join the hive</h2>
            <p><a class="btn btn-default btn-lg" href="/about_beewaga" role="button">Learn more</a></p>
        </div>
    </div>


 


{% endblock %}


{% block footer %}
{% endblock %}
<script type="text/javascript">
     var BV;
     $(function() {
     // initialize BigVideo
     BV = new $.BigVideo();
     BV.init();
     BV.show('http://mazwai.com/system/posts/videos/000/000/043/original/phil_fried--electric_bulb.mp4?1402703176',{ambient:true});
});
 </script>

