{% extends 'base.html' %}

{% block navbar %}

    {% include 'navbar.html' %}
    
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="col-md-12 text-center" id="bigvid" >
            {%block bigvid%}
            <script type="text/javascript">
            var BV;
            $(function() {
            // initialize BigVideo
            BV = new $.BigVideo();
            BV.init();
            BV.show('{{STATIC_URL}}gfx/bee.mp4',{ambient:true});
            });
            </script>
            {%endblock%}
            <h1>Beewaga</h1>
            <h2>Help us</h2>
            <h4>Teach you</h4>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>


 


{% endblock %}

<script type="text/javascript">
     var BV;
     $(function() {
     // initialize BigVideo
     BV = new $.BigVideo();
     BV.init();
     BV.show('http://video-js.zencoder.com/oceans-clip.mp4',{ambient:true});
});
 </script>

