{% extends 'base.html' %}
{% block navbar%}
    {% if user.is_authenticated %}
        {% include 'navbar-logged-in.html'%}
    {% else %}
        {%include 'navbar.html'%}
    {%endif%}
{% endblock %}


{% block content %}
<div class="taco">
	<div id="title_header">
	    <div class="header_placeholder">
		</div>
	    <div class="explore_tutor_header">Explore Tutors</div>
	</div>
	
	{%for tutor in tutors%}
	 <div class= "tutor_block">
		<div id="in_box">
			<div class="wrap_tutor">
					<div id="tutor_pic">
                    <img src="">
			        </div>
			</div>

			<div class="wrap_tutor_text">
				<p class="tutor_name"><a href="/tutors/{{ tutor.username }}">{{ tutor.username}}</a> is teaching: </p>
				<p class="tutor_subject">REALLY COOL CLASSES</p>
				<p class="dollar_billz">And Earning: $$$$$$</p>
			</div>
		</div>
	</div>
	{%endfor%}
</div>
{%endblock%}